*{
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;    
    width:100%;
}



div div{
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.container{
    height: 100%;
    width: 100%;
    color:white;
    font-family: 'Varela Round', sans-serif;
    
}

#intro{
    
    align-items: center;
    background-image: url('images/bg1.jpeg'); 
    background-size: cover;
}

#intro h1 {
    font-size: 50px;
}

.bio{
    
    align-items: center;
    background-color: rgb(51, 24, 20);
    height:450px;
    padding: 20px 0px 20px 0px;
    flex-direction: column;
}


.bio h2{
    padding-top: 20px;
}

.bio p {
    line-height: 30px;
    letter-spacing: 1.5px;
    padding: 20px 200px 20px 200px;
}

.bio a{
    margin-top: 20px;
    font-size: 20px;
    border: white solid 2px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.bio a:hover{
    color: black;
    background-color: white;
    transition: all ease 0.5s;
}

.skills-container{
    background-color: rgb(226, 226, 226);
    height:400px;
    color: rgb(0, 0, 0);
    
}

.skills-container > div {
    flex-direction: column;
    height: 500px;
}

.skills-container > div h1{
    text-align: center;
}

.skills h1{
    margin-top: -120px;
}

.skills li {
    list-style: none;
    padding:0px 100px 25px 100px;
}



.bar {
    background-color: rgb(226, 226, 226);
    display: block;
    height: 5px;
    border:1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.bar span{
    height:5px;
    float: left;
    background-color: rgb(105, 41, 29);
}

.html{
    width: 50%;
}

.css{
    width: 35%;
}

.javascript{
    width: 10%;
}

.skills-container > div p{
    padding:20px 75px 0px 75px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.goals h1 {
    margin-top: -200px;
}

.hobbies h1 {
    margin-top: -200px;
}



.contact{
    height:500px;
    flex-direction: column;
    background-color: rgb(82, 22, 34);
}



.contact h1 {
    text-align: center;
}

form{
    padding:10px;
}

.form-control{
    padding-left:20px;
    padding-right:20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 320px;
    height: 40px;
    border-radius: 10px;
    border: 0;    
    outline: none;
}
.form-control-message{
    padding-left:20px;
    padding-right: 20px;
    margin-top: 20px;
    padding-top: 10px;
    height: 180px;
    width: 700px;
    border-radius: 10px;
    border: 0;
    font-family: 'Varela Round', sans-serif;
    outline: none;
}

.form-control-button{
    padding-left:20px;
    padding-right: 20px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 0;
    align-content: center;
    outline: none;
    cursor: pointer;
}

.form-control-button:hover{
    background-color: rgb(185, 185, 185);
}


#contact-form{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom: 10px;
}

.footer{
    height:100px;
    background-color: black;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-list{
    height: 50px;
}

.footer-list ul {
    display: flex;
    
}

.footer-list ul li {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
}

.footer-list ul li .fa{
    font-size: 30px;
    color:rgb(255, 77, 45);
}

.footer-list ul li:visited .fa{
    color: white;
}

.footer-list ul li:hover .fa{
    color: #2140f0;
    transition: all 0.5s ease;
}

.footer p{
    text-align: center;
    letter-spacing: 1.5px;
}


@media only screen and (max-width: 1024px){

    .bio{
        height: 700px;
    }


    .bio h1{
        font-size: 48px;
    }

    .bio h2{
        font-size: 38px;
    }

    .bio p{
        font-size: 20px;
    }



}



@media only screen and (max-width: 768px){

    html, body{
        width: 100%;
    }

    .bio {
        height: 500px;
    }


    .bio h1{
        font-size: 48px;
    }

    .bio h2{
        font-size: 32px;
    }

    .bio p {
        line-height: 30px;
        letter-spacing: 1.5px;
        padding: 20px 60px 0px 60px;
        font-size: 16px;
    }

    .skills-container{
        height:400px;
        
    }

    .skills h1{
        margin-top: -100px;
    }

    .goals h1 {
        margin-top: -170px;
    }
    
    .hobbies h1 {
        margin-top: -230px;
    }

    .skills-container > div p{
        padding:30px 15px 0px 15px;
        line-height: 30px;
        letter-spacing: 1.5px;
    }

    .skills li {
        list-style: none;
        padding:10px 50px 25px 50px;
    }


    .form-control-message{
        
        width: 320px;

    }

}

@media only screen and (max-width: 540px){
    .bio{
        height: 700px ;
    }
}

@media only screen and (max-width: 414px){


    .bio{
        height: 800px;
    }

    .bio h1{
        text-align: center;
        font-size: 36px;
    }

    .bio h2{
        font-size: 26px;
    }


    .form-control{
        width: 250px;
    }
    
    .form-control-message{
        
        width: 250px;

    }

    .skills-container{
        flex-direction: column;
        height: 700px;
    }

    .skills-container > div{
        margin-top: 140px;
    }
    
}

@media only screen and (max-width: 411px){

    html, body{
        width: 100%;
    }

    .bio{
        height: 700px;
    }

    .bio h1{
        font-size: 32px;
    }

    .bio h2{
        font-size: 24px;
    }

    .bio p {
        line-height: 30px;
        letter-spacing: 1.5px;
        padding: 20px 20px 0px 20px;
        font-size: 16px;
    }

    .skills-container{
        flex-direction: column;
        height: 800px;
    }

    .skills-container > div{
        margin-top: 140px;
    }


}

@media only screen and (max-width: 360px){

    .bio{
        height:750px;
    }

    .form-control{
        width: 300px;
    }
    
    .form-control-message{
        
        width: 300px;

    }
    
}

@media only screen and (max-width: 320px){


    .bio{
        height: 800px;
    }



    .form-control{
        width: 250px;
    }
    
    .form-control-message{
        
        width: 250px;

    }
    
}


@media only screen and (max-width: 280px){
    .bio{
        height: 900px;
    }

    .skills-container{
        height: 850px;
    }

    .form-control{
        width: 200px;
    }
    
    .form-control-message{
        width: 200px;
    }
}


